<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Create Dicton</title>
</head>

<body>
    <main>
        <h1>Create a New Dicton</h1>
        <form method="POST">
            <input type='text' name='dicton' required placeholder="Enter a new dicton">
            <button type='submit'>Nouveau dicton</button>
        </form>
        <a href="/list">Back to List</a>
    </main>
</body>

</html>