<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Dicton Detail</title>
</head>

<body>
    <main>
        <h1>Dicton Detail</h1>
        <p>
            <%= dicton.dicton %>
        </p>
        <a href="/list">Back to List</a>
    </main>
</body>

</html>