<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Random Dicton</title>
</head>

<body>
    <h1>Random Dicton</h1>
    <main class="random-dicton-container">
        <section class="random-dicton-box">
            <q>
                <%= dicton %>
            </q>
        </section>
        <a href="/list">See all dictons</a>
    </main>
</body>

</html>